name: CinemAi CI

on:
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Install dependencies
        run: pnpm install
        working-directory: app-nextjs

      - name: Lint
        run: pnpm lint
        working-directory: app-nextjs

      - name: Build
        run: pnpm build
        working-directory: app-nextjs

      - name: Validate Prisma schema
        run: npx prisma validate
        working-directory: app-nextjs
